<div>
    <p class=msonormal style="background: white; text-align: left" align=left><span
            style="font-family: '微软雅黑', 'sans-serif'; color: #595959">需求<span lang=en-us>&nbsp;</span></span><b><span
            lang=en-us
            style="border-top: windowtext 1pt; font-family: '微软雅黑', 'sans-serif'; border-right: windowtext 1pt; border-bottom: windowtext 1pt; color: #4f81bd; padding-bottom: 0cm; padding-top: 0cm; padding-left: 0cm; border-left: windowtext 1pt; padding-right: 0cm">"</span></b><span
            lang=en-us>&nbsp;<span style="color: #000000"><span
            style="font-weight: bold; color: #3366ff">{{data.title}}</span><span
            style="color: #3366ff">&nbsp;</span></span></span><span class=msohyperlink><b><span
            style="font-family: '微软雅黑', 'sans-serif'; color: #1f497d; text-decoration: none"> </span></b></span><span
            class=msohyperlink><span lang=en-us
                                     style="background: white; color: #4f81bd; text-decoration: none">"</span></span><span
            lang=en-us style="font-family: '微软雅黑', 'sans-serif'; color: #595959">&nbsp;</span><span
            style="font-family: '微软雅黑', 'sans-serif'; color: #595959">重构已完成。</span><span lang=en-us
                                                                                         style="font-size: 10pt; font-family: 宋体"><?xml:namespace prefix = "o" ns = "urn:schemas-microsoft-com:office:office" />
        <o:p></o:p></span></p>
    <table class=msonormaltable style="background: white; border-collapse: collapse; width: 849pt" cellspacing=0
           cellpadding=0 width=1132 border=0>
        <tbody>
        <tr>
            <td style="background: none transparent scroll repeat 0% 0%; padding-bottom: 0cm; padding-top: 0cm; padding-left: 0cm; padding-right: 0cm"
                valign=bottom>
                <p class=msonormal style="text-align: left; line-height: 24pt" align=left><span
                        style="font-family: '微软雅黑', 'sans-serif'; color: #595959">请产品经理<span
                        style="font-size: 12pt; font-family: '微软雅黑', 'sans-serif'; font-weight: bold; color: #c00000">{{data.pm}}</span></span><b><span
                        style="border-top: windowtext 1pt; font-family: '微软雅黑', 'sans-serif'; border-right: windowtext 1pt; border-bottom: windowtext 1pt; color: #c00000; padding-bottom: 0cm; padding-top: 0cm; padding-left: 0cm; border-left: windowtext 1pt; padding-right: 0cm"><span
                        lang=en-us> <span
                        style="font-size: 12pt; font-family: '微软雅黑', 'sans-serif'; font-weight: normal; color: #595959">，设计师</span>{{data.designer}}</span></span></b><span
                        style="font-family: '微软雅黑', 'sans-serif'; color: #595959">确认，开发<span
                        style="font-size: 12pt; font-family: '微软雅黑', 'sans-serif'; font-weight: bold; color: #c00000">{{data.develop}}</span><span
                        style="font-size: 12pt"> </span></span><span
                        style="font-family: '微软雅黑', 'sans-serif'; color: #595959">关注。<span lang=en-us><o:p></o:p></span></span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="background: none transparent scroll repeat 0% 0%; padding-bottom: 0cm; padding-top: 0cm; padding-left: 0cm; padding-right: 0cm"
                valign=bottom>
                <p class=msonormal style="text-align: left; line-height: 24pt" align=left><span
                        style="font-family: '微软雅黑', 'sans-serif'; color: #595959">有任何疑问，随时联系</span><b><span lang=en-us
                                                                                                            style="border-top: windowtext 1pt; font-family: '微软雅黑', 'sans-serif'; border-right: windowtext 1pt; border-bottom: windowtext 1pt; color: #c00000; padding-bottom: 0cm; padding-top: 0cm; padding-left: 0cm; border-left: windowtext 1pt; padding-right: 0cm">{{data.author}}</span></b><b><span
                        style="border-top: windowtext 1pt; font-family: '微软雅黑', 'sans-serif'; border-right: windowtext 1pt; border-bottom: windowtext 1pt; color: #c00000; padding-bottom: 0cm; padding-top: 0cm; padding-left: 0cm; border-left: windowtext 1pt; padding-right: 0cm"><span
                        lang=en-us><span
                        style="color: #3366ff; background-color: #ffffff"></span></span></span></b><b><span lang=en-us
                                                                                                            style="border-top: windowtext 1pt; font-family: '微软雅黑', 'sans-serif'; border-right: windowtext 1pt; border-bottom: windowtext 1pt; color: #1f497d; padding-bottom: 0cm; padding-top: 0cm; padding-left: 0cm; border-left: windowtext 1pt; padding-right: 0cm"><o:p></o:p></span></b>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- 预览地址，有列表和没有列表的情况，大于等于2个页面的都需要列表 -->
    <p class=msonormal style="text-align: left; line-height: 24pt" align=left><span
            style="font-family: '微软雅黑', 'sans-serif'; color: #595959">列表页面地址：</span><span
            style="color: #1f497d"> </span><span lang=en-us><o:p></o:p></span></p>
    <p class=msonormal style="text-align: left; line-height: 24pt" align=left><a
            href="{{data.page.[0].testUrl}}">{{data.page.[0].testUrl}}</a></p>

    <p class=msonormal style="text-align: left; line-height: 24pt" align=left><span class=msohyperlink><span lang=en-us
                                                                                                             style="font-size: 12pt; color: #1f497d"></span></span>&nbsp;
    </p>

    <div><span class=msohyperlink><span
            style="font-family: '微软雅黑', 'sans-serif'; color: #595959; text-decoration: none">二维码扫描：</span></span></div>
    <div><span class=msohyperlink><span
            style="font-family: '微软雅黑', 'sans-serif'; color: #595959; text-decoration: none"><span lang=en-us><o:p></o:p></span></span></span>&nbsp;
    </div>
    <!--startfragment -->
    <div><img
            src="https://chart.googleapis.com/chart?cht=qr&chs=200x200&choe=utf-8&chld=l|2&chl={{data.page.[0].testUrl}}"
            width="200" height="200" alt="二维码"/></div>
    <div>&nbsp;</div>
    <div> <!-- svn文件路径 -->
        <p class=msonormal style="text-align: left; line-height: 21pt" align=left><span lang=en-us
                                                                                        style="font-family: '微软雅黑','sans-serif'; color: #595959">&nbsp;&nbsp;</span><span
                style="font-family: '微软雅黑','sans-serif'; color: #595959">svn文件路径：<span lang=en-us><o:p></o:p></span></span>
        </p>
        </td></tr>
        <tr>
            <td style="background: none transparent scroll repeat 0% 0%; padding-bottom: 0cm; padding-top: 0cm; padding-left: 0cm; padding-right: 0cm"
                valign=bottom></td>
        </tr>
        <tr>
            <td style="background: none transparent scroll repeat 0% 0%; padding-bottom: 0cm; padding-top: 0cm; padding-left: 0cm; padding-right: 0cm"
                valign=bottom>
                <p class=msonormal><span class=msohyperlink><span lang=en-us
                                                                  style="font-family: '微软雅黑','sans-serif'; color: #7f7f7f; text-decoration: none"><a
                        href="{{data.svn}}"><span style="color: #7f7f7f; text-decoration: none">{{data.svn}}</span></a><o:p></o:p></span></span>
                </p>
                <!-- 设计稿截图 -->
                <table class=msonormaltable style="background: white; border-collapse: collapse; width: 849pt"
                       cellspacing=0 cellpadding=0 width=1132 border=0>
                    <tbody>
                    <tr style="height: 21pt">
                        <td style="height: 21pt; padding-bottom: 0cm; padding-top: 0cm; padding-left: 0cm; padding-right: 0cm"
                            valign=bottom>
                            <p class=msonormal style="text-align: left; line-height: 21pt" align=left><span lang=en-us
                                                                                                            style="color: #4785d1"><o:p></o:p></span>
                            </p>
                            <p class=msonormal style="text-align: left; line-height: 21pt" align=left><span
                                    style="font-family: '微软雅黑', 'sans-serif'; color: #595959"></span>&nbsp;</p>

                            <p class=msonormal style="text-align: left; line-height: 21pt" align=left><span
                                    style="font-family: '微软雅黑', 'sans-serif'; color: #595959">页面二维码和设计稿截图：</span></p>

                            <p class=msonormal style="text-align: left; line-height: 21pt" align=left><span
                                    style="font-family: '微软雅黑', 'sans-serif'; color: #ff0000"></span></p>

                            <p class=msonormal style="text-align: left; line-height: 21pt" align=left><span
                                    style="font-family: '微软雅黑', 'sans-serif'; color: #ff0000"></span></p>
                            <!-- 遍历设计稿的截图 --> {{#each data.page}} {{#if_eq title 'list'}} {{else}} <p class=msonormal
                                                                                                      style="text-align: left; line-height: 21pt"
                                                                                                      align=left>

                            <div style="margin-bottom: 10px;font-weight: bold; font-size: 24px"> 【页面】{{title}}:</div>
                            <div style="overflow: hidden; border: 1px dashed #666; padding: 10px;height: 200px;">
                                <div style="float: left; margin-right: 20px;">
                                    <a href="{{testUrl}}" style="display: block; height: 300px;" title="重构页面二维码, 点击打开网页">
                                    <img src="https://chart.googleapis.com/chart?cht=qr&chs=200x200&choe=utf-8&chld=l|2&chl={{testUrl}}" alt="qrcode"/>
                                </a>
                                </div>
                                <div style="float: left; width: 50%; "><a
                                        href="http://wapstatic.kf0309.3g.qq.com/{{../../data.author}}/{{../../data.name}}/design/{{title}}.png"
                                        title="设计图, 点击浏览大图" target="_blank"
                                        style="display: block;">
                                    <img src="http://wapstatic.kf0309.3g.qq.com/{{../../data.author}}/{{../../data.name}}/design/{{title}}.png" height="200px"
                                         alt=""/>
                                </a>
                                </div>
                            </div>
                            </p> {{/if_eq}} {{/each}} </td>
                    </tr>
                    </tbody>
                </table>
    </div>
</div>
<div>&nbsp;</div>
<!-- 横线 -->
<hr id=fmsigseperator style="height: 1px; width: 350px" align=left color=#b5c4df size=1>
<br> <!-- 个人签名 -->
<div width=350 height=47>{{data.author}}</div>